.navbar {
	width: 100vw;
	height: 100vh;
	position: absolute;
	overflow: auto;
	z-index: 9999;
	transition: transform 1s;
}

.navbar[data-home='true'] {
	position: unset;
	transform: translate(0, 0);
}

.navbar[data-expand='true'][data-home='false'] {
	transform: translate(0, 0);
}

.navbar[data-expand='false'][data-home='false'] {
	transform: translate(-100%, 0);
}

@media (min-width: 768px) {
	.home-page {
		display: flex;
	}

	.navbar[data-home='false'] {
		position: unset;
		max-width: 350px;
	}

	.navbar[data-expand='true'][data-home='false'] {
		transform: translate(0, 0);
	}

	.navbar[data-expand='false'][data-home='false'] {
		transform: translate(0, 0);
	}
}
