@import url('https://unpkg.com/leaflet@1.9.3/dist/leaflet.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

.leaflet-container {
	height: 80vh;
	width: 100%;
	background-color: black;
}

.info {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 500;
}
